<?xml version="1.0"?>
<launch>
    <arg name="machine" default="localhost"/>

    <node name="republish_dynamixel_tilt_jointstates" pkg="dynamixel_jointstate_conversion" type="republish_dynamixels_as_jointstates.py" required="true">
        <remap to="neck_tilt" from="dynamixel_topic"/>
    </node>


    <node name="republish_dynamixel_pan_jointstates" pkg="dynamixel_jointstate_conversion" type="republish_dynamixels_as_jointstates.py" required="true">
        <remap to="neck_pan" from="dynamixel_topic"/>
    </node>
</launch>